.signup-container {
    background-color: #000;
    color: #fff;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .error {
        color: red;
        margin-bottom: 10px;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &-label {
            margin-bottom: 5px;
        }

        input {
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 5px;
            border: none;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        &-signup,
        &-reset {
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        &-signup {
            background-color: #e50914;
            color: #fff;
        }

        &-reset {
            background-color: #333;
            color: #fff;
        }
    }
}
