.popular-movie-list {
    background-color: #000;
    color: #fff;
    padding: 20px;

    &__item-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: #fff #000;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-track {
            background: #000;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #fff;
            border-radius: 20px;
            border: 3px solid #000;
        }
    }

    &__item {
        flex: 0 0 auto;
        width: 200px;
        height: 300px;
        margin-right: 20px;
        background-color: #444;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
        }
    }
}

div {
    background-size: contain;
}