.movie-container {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-bottom: 20px;
    width: auto;

    background-size: 100% 100%;

    .title {
        font-size: 2em;
        text-align: center;
    }
}

// div {
//     background-size: contain;
// }
