<div class="top-bar">
    <div class="logo">
      <img src="../../../assets/netflix-logo.png" alt="Netflix Logo">
    </div>
    <div class="options">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">TV Shows</a></li>
        <li><a href="#">Movies</a></li>
        <li><a href="#">News & Popular</a></li>
        <li><a href="#">My List</a></li>
        <li><a href="#">Browse by Languages</a></li>
      </ul>
    </div>
    <div class="add-movie">
        <button (click)="gotoCreateMovie()" >Add a movie</button>
      </div>
  </div>
  