.top-bar {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
  
    .logo {
      margin-right: 20px;
  
      img {
        height: 40px;
      }
    }
  
    .options {
      ul {
        list-style: none;
        display: flex;
  
        li {
          margin-right: 32px;
  
          a {
            color: #fff;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  
    .add-movie {
      margin-left: auto;
  
      button {
        background-color: red;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
  
        &:hover {
          background-color: darkred;
        }
      }
    }
  }
  